div[data-display="hide"], .hide { display: none !important; }
:host, *, *::before, *::after { box-sizing: border-box; }
span {
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}
button, input { font: inherit; }
div.widget { margin: 0; }
div.widget:empty { border: 0; padding: 0; margin: 0; }
::-webkit-scrollbar { width: 0; height: 0; background: transparent; }
