.control-area {
  display: none;
  padding: 0.1rem;
}

:host(.table-area.jiang-area) {
  opacity: 0.9;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 0.1rem;
  min-height: 1rem;
  border: dotted 1px black;
}

.card-area {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  border: none;
  padding: 0.2rem;
}

:host(.zhuang-area) sg-card {
  width: 25%;
}

:host(.zhuang-area) sg-card {
  width: 20%;
}

:host-context(.current-player) sg-card {
  width: auto;
}
:host(.zhuang-area) .card-area:hover sg-card {
  width: unset;
}
:host(.pan-area) sg-card {
  width: 28%;
}

:host(.zhuang-area) sg-card:hover,
:host(.pan-area) sg-card:hover {
  z-index: 40;
  overflow: visible;
}

:host(.zhuang-area) .card-area,
:host(.pan-area) .card-area,
:host(.other1-area) .card-area,
:host(.other2-area) .card-area {
  flex-wrap: nowrap;
  overflow: hidden;
  padding-bottom: 2px;
}

:host(.zhuang-area) .card-area:hover,
:host(.pan-area) .card-area:hover {
  overflow: visible;
  z-index: 35;
  box-shadow: 1px 1px 4px 1px;
  flex-wrap: wrap;
  position: relative;
  background-color: wheat;
}

:host(.other1-area) .card-area:hover,
:host(.other2-area) .card-area:hover {
  overflow: visible;
  flex-wrap: wrap;
  z-index: 40;
  box-shadow: 1px 1px 4px 1px;
  background-color: white;
}
