.control-area {
  display: none;
  padding: 0.1rem;
}

:host(.table-area.jiang-area) {
  opacity: 0.9;
}

.wrapper {
  height: 100%;
  width: 100%;
  min-height: 1rem;
  border: dotted 1px black;
  overflow: scroll;
}

.card-area {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  border: none;
  padding: 0.2rem;
}

:host(.zhuang-area) .card-area {
  overflow: scroll;
  flex-wrap: nowrap;
  padding-bottom: 2px;
  min-height: none;
}

:host(.pan-area) .card-area {
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 2px;
  min-height: none;
  padding: 2px;
}

:host(.jiang-block) .wrapper {
  border: none;
  .card-area {
    padding: 0;
  }
}

:host-context(.current-player) .card-area:hover {
  box-shadow: none;
}
