.control-area {
  display: none;
  padding: 0.1rem;
}

:host-context(.table-public) div[name="card-area"] {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  background-color: white;
  gap: 0.1rem;
}

:host-context(.table-public) .control-area {
  display: unset;
}

:host(.table-area.jiang-area) {
  opacity: 0.9;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 0.1rem;
  min-height: 1rem;
  border: dotted 1px black;
}

.card-area {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  border: none;
}
