:host {
  position: relative;
}
.card-front {
  display: none;
  background-color: antiquewhite;
}

.card-controls {
  display: none;
  position: absolute;
  background-color: wheat;
  top: 0;
  left: 0;
  padding: 0.1em;
  z-index: 20;
  button {
    display: inline-block;
    height: 2rem;
  }
}

.info-line {
  font-size: 0.8rem;
  overflow: visible;
  white-space: nowrap;
}

.card-block {
  display: inline-block;
  width: auto;
  position: relative;
  background-color: wheat;
  box-shadow: 1px 1px 1px 0px;

  .card-widget {
    border: brown solid 1px;
    padding: 2px;
    width: 2em;
    display: inline-block;
    height: 3.2rem;
  }
}

.card-block.selected {
  top: -0.2rem;
  z-index: 40;
  box-shadow: 1px 1px 6px 1px;

  .card-widget {
    border-color: red;
  }
}
.card-block.show-front {
  .card-widget {
    border-color: blue;
    background-color: azure;
  }
  .card-front {
    background-color: azure;
  }
}

.card-block.show-front li[name="show-btn"] {
  background-color: white;
}

span.club::before {
  content: "\2663";
}

span.heart::before {
  content: "\2665";
  color: red;
}

span.diamond::before {
  content: "\2666";
  color: red;
}

span.spade::before {
  content: "\2660";
}

.card-controls ul {
  display: flex;
  background-color: wheat;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.1rem;
  padding: 0.1rem;
  width: 2.4rem;
  box-shadow: 0.1rem 0.1rem 0.1rem black;
  border: dotted 1px black;
  flex-direction: row;
}

.card-controls li {
  display: block;
  position: relative;
}

.card-controls li:hover {
  background-color: antiquewhite;
}

:host-context(.current-player) li[name="discard-btn"] {
  display: unset;
}
:host-context(.current-player) li[name="move-btn"] {
  display: unset;
}

:host-context(.table-area) li[name="play-btn"] {
  display: none;
}

:host-context(.jiang-area) .card-block:hover .card-controls {
  display: unset;
}

:host-context(.current-player) .card-widget,
:host-context(.discard-area) .card-widget,
:host-context(.pan-area) .card-widget,
.card-block.show-front .card-widget {
  width: 3.5rem;
  display: inline-block;

  .card-back {
    display: none;
  }

  .card-front {
    display: block;
  }
}

:host-context(.zhuang-area) .card-block {
  display: block;

  .card-widget {
    display: block;
    height: unset;
    width: unset;

    .card-back {
      display: none;
    }

    .card-front {
      display: block;

      .card-suit,
      .info-line {
        display: inline;
      }
    }
  }
}

:host-context(.pan-area) .card-block {
  display: block;
  font-size: small;
  width: 4.8rem;
  overflow: hidden;
  .card-widget {
    display: block;
    height: unset;
    width: 100%;

    .card-back {
      display: none;
    }

    .card-front {
      display: block;

      .card-suit,
      .info-line {
        display: inline;
        .pai-desc {
          display: none;
        }
      }
    }
  }
}
