.max-hp-control {
  display: none;
}

:host-context(.current-player) .max-hp-control {
  display: unset;
}

p {
  margin: 0px;
}

.hp-bar span {
  display: inline-block;
  width: 1.4rem;
  cursor: pointer;
  color: red;
}
