.max-hp-control {
  display: none;
  font-family: "Material Symbols Outlined";
  font-size: large;
}

:host(.current-player) .max-hp-control {
  display: block;
}

.hp-bar span {
  font-family: "Material Icons";
  display: inline-block;
  font-size: large;
  cursor: pointer;
  color: red;
}
