:host-context(.current-player) .card-block,
.card-block.show-front {
  display: inline-block;
  width: 100%;
  height: 100%;

  .card-back {
    display: none;
  }

  .card-front {
    display: grid;
    height: 100%;
  }
}

:host {
  display: inline-block;
  background-color: antiquewhite;
  height: 11rem;
  width: 9rem;
}

.card-front.shu {
  background-image: linear-gradient(rgba(200, 0, 0, 0.5), white);
}

.card-front.wu {
  background-image: linear-gradient(rgba(0, 150, 0, 0.8), white);
}

.card-front.wei {
  background-image: linear-gradient(rgba(0, 0, 180, 0.6), white);
}

.card-front.qun {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), white);
}

button[name="draw-btn"],
button[name="discard-btn"],
button[name="show-btn"] {
  display: none;
}

:host-context(.current-player) button[name="discard-btn"] {
  display: unset;
}

:host-context(.current-player) button[name="show-btn"] {
  display: unset;
}

:host-context(.table-public) button[name="show-btn"] {
  display: unset;
}

:host-context(.table-public) button[name="draw-btn"] {
  display: unset;
}

.card-block.show-front {
  border: solid blue 1px;
}

.card-block.show-front button[name="show-btn"] {
  background-color: white;
}

.jiang-skill {
  display: none;
}

.skill-hint {
  text-align: center;
  position: absolute;
  bottom: 0;

  .skill-label {
    font-weight: bolder;
  }

  span {
    display: inline-block;
    padding: 1px;
  }
}

.skill-hint:hover .jiang-skill {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: wheat;
  padding: 0.5em;
  border: dotted orange 2px;
  width: 15em;
}

:host-context(.current-player) .skill-hint:hover .jiang-skill {
  bottom: 0;
  top: auto;
  z-index: 30;
}

.card-controls {
  top: -0.5rem;
  left: auto;
  right: 0;
  width: 1.5rem;
  padding-top: 0;
  box-shadow: -1px 2px 3px 1px;
  background-color: rgba(0, 0, 0, 0.6);
}

.jiang-name {
  font-weight: bolder;
}
