.current-player.widget {
  border: green solid 2px;
  padding: 0.2em;
  margin: 0.2em;
}

:host-context(.player-seated) div[name="join-seat-menu"] {
  display: none;
}

p {
  margin: 0.3em;
}

.hand-area {
  height: 3.9rem;
}
.hand-area::part(wrapper) {
  overflow: hidden;
}

.hand-area:hover::part(wrapper) {
  z-index: 30;
  position: relative;
  overflow: visible;
}

.current-player .hand-area {
  height: auto;
  overflow: visible;
}

sg-area,
sg-jiangarea {
  display: flex;
  align-items: center;
}
.hand-area::before {
  content: "牌:";
  padding: 0.1rem;
  width: 2rem;
}
.zhuang-area::before {
  content: "装:";
  width: 2rem;
  padding: 0.1rem;
}
.pan-area::before {
  content: "判:";
  width: 2rem;
  padding: 0.1rem;
}
.jiang-area::before {
  content: "将:";
  width: 2rem;
  padding: 0.1rem;
}
.other1-area::before {
  content: "区1:";
  width: 2rem;
  padding: 0.1rem;
  font-size: small;
}
.other2-area::before {
  content: "区2:";
  width: 2rem;
  padding: 0.1rem;
  font-size: small;
}
