.table-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  grid-gap: 0.2rem;
  margin: 20px;
}

.slot0 {
  grid-area: 5 / 1 / span 2 / span 3;
}
.slot1 {
  grid-area: 1/1;
}
.slot2 {
  grid-area: 1/2;
}
.slot3 {
  grid-area: 1/3;
}
.slot4 {
  grid-area: 1/4;
}
.slot5 {
  grid-area: 2/4;
}

.table-public {
  grid-area: 2 / 1 / span 3 / span 3;
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;
  grid-template-rows: 5rem 6rem;
  gap: 0.5rem;

  .jiang-area {
    grid-area: 1 / 1 / span 1 / span 1;
    overflow-y: scroll;
    background-color: white;
    border: solid 1px black;
  }

  .jiang-area::part(card-area) {
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
    width: 30rem;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .jiang-area:hover {
    overflow-y: visible;
    z-index: 10;
    border: none;
  }

  .pai-area {
    grid-area: 1 / 4 / span 1 / span 1;
    overflow-y: scroll;
    background-color: white;
    border: solid 1px black;
  }

  .discard-area {
    grid-area: 1 / 2 / span 2 / span 2;
    background-color: white;
    border: solid 1px black;
    overflow-y: scroll;
  }
}
